<!DOCTYPE HTML>
<html>

<head>
  <title>基层党组织统计</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <h3>夷陵区区直机关工委基层党组织统计</h3>
    </div>
    <div class="row ">
      <form class="form-horizontal" onsubmit="return check()" action="/organization" method="POST">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="selectUnit">请选择您所在的单位</label>
          <div class="col-sm-6">
            <select name="id" class="form-control" id="selectUnit">
              <% for(let i=0; i<organization.length; i++) {%>
                <option value="<%= organization[i].id%>">
                  <%= organization[i].get('name') %>
                </option>
                <% } %>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="jiguan" class="col-sm-2 control-label">机关党支部数</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="jiguan" id="jiguan" placeholder="请填写单位所有的机关支部数">
          </div>
        </div>
        <div class="form-group">
          <label for="guoyouqiye" class="col-sm-2 control-label">国有企业党支部数</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="guoyouqiye" id="guoyouqiye" placeholder="请填写单位所有的国有企业党支部数">
          </div>
        </div>
        <div class="form-group">
          <label for="feigongjingji" class="col-sm-2 control-label">非公经济组织党支部数</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="feigongjingji" id="feigongjingji" placeholder="请填写单位所有的非公经济组织党支部数">
          </div>
        </div>
        <div class="form-group">
          <label for="shehuizuzhi" class="col-sm-2 control-label">社会组织党支部数</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="shehuizuzhi" id="shehuizuzhi" placeholder="请填写单位所有的社会组织党支部数">
          </div>
        </div>
        <div class="form-group">
          <label for="xuexiao" class="col-sm-2 control-label">学校党支部数</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="xuexiao" id="xuexiao" placeholder="请填写单位所有的学校党支部数">
          </div>
        </div>
        <div class="form-group">
          <label for="yiyuan" class="col-sm-2 control-label">医院党支部数</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="yiyuan" id="yiyuan" placeholder="请填写单位所有的医院党支部数">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-5 col-sm-offset-2">
            <button type="submit" class="btn btn-success btn-lg">点击提交</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <table class="table table-striped">
        <tr>
          <th>单位名称</th>
          <th>基层党支部总数</th>
          <th>机关党支部数</th>
          <th>国有企业党支部数</th>
          <th>非公经济组织党支部数</th>
          <th>社会组织党支部数</th>
          <th>学校党支部数</th>
          <th>医院党支部数</th>
        </tr>
        <% var jiguanTotal=0;var organizationTotal=0;var guoyouqiyeTotal=0;var feigongjingjiTotal=0;var shehuizuzhiTotal=0;var xuexiaoTotal=0;var yiyuanTotal=0 %>
          <%    for(let i=0; i<organization.length; i++) {%>
            <tr>
              <td>
                <%= organization[i].get('name') %>
              </td>
              <td>
                <%organizationTotal=organizationTotal+organization[i].get('jiguan')+organization[i].get('guoyouqiye')+organization[i].get('shehuizuzhi')+organization[i].get('feigongjingji')+organization[i].get('xuexiao')+organization[i].get('yiyuan') %>
                  <%= organization[i].get('jiguan')+organization[i].get('guoyouqiye')+organization[i].get('shehuizuzhi')+organization[i].get('feigongjingji')+organization[i].get('xuexiao')+organization[i].get('yiyuan') %>
              </td>
              <td>
                <%jiguanTotal=jiguanTotal+organization[i].get('jiguan') %>
                  <%= organization[i].get('jiguan') %>
              </td>
              <td>
                <%guoyouqiyeTotal=guoyouqiyeTotal+organization[i].get('guoyouqiye') %>
                  <%= organization[i].get('guoyouqiye') %>
              </td>
              <td>

                <%feigongjingjiTotal=feigongjingjiTotal+organization[i].get('feigongjingji') %>
                  <%= organization[i].get('feigongjingji') %>
              </td>
              <td>

                <%shehuizuzhiTotal=shehuizuzhiTotal+organization[i].get('shehuizuzhi') %>
                  <%= organization[i].get('shehuizuzhi') %>
              </td>
              <td>
                <%xuexiaoTotal=xuexiaoTotal+organization[i].get('xuexiao') %>
                  <%= organization[i].get('xuexiao') %>
              </td>
              <td>
                <%yiyuanTotal=yiyuanTotal+organization[i].get('yiyuan') %>
                  <%= organization[i].get('yiyuan') %>
              </td>
            </tr>
            <% } %>
              <tr>
                <td>合计</td>
                <td>
                  <%=organizationTotal%>
                </td>
                <td>
                  <%=jiguanTotal%>
                </td>
                <td>
                  <%=guoyouqiyeTotal%>
                </td>
                <td>
                  <%=feigongjingjiTotal%>
                </td>
                <td>
                  <%=shehuizuzhiTotal%>
                </td>
                <td>
                  <%=xuexiaoTotal%>
                </td>
                <td>
                  <%=yiyuanTotal%>
                </td>
              </tr>

      </table>
    </div>
  </div>
  <script type="text/javascript"> 
    function check() {
      var jiguan = document.getElementById('jiguan').value;
      var guoyouqiye = document.getElementById('guoyouqiye').value;
      var feigongjingji = document.getElementById('feigongjingji').value;
      var shehuizuzhi = document.getElementById('shehuizuzhi').value;
      var xuexiao = document.getElementById('xuexiao').value;
      var yiyuan = document.getElementById('yiyuan').value;
      if (jiguan == "" && guoyouqiye == "" && feigongjingji == "" && shehuizuzhi == "" && xuexiao == "" && yiyuan == "") {
        alert("请不要提交空表")
        return false;
      }
      return true;
    }
  </script>
</body>

</html>